<script>
    import {
        Canvas,
        HemisphereLight,
        Mesh,
        OrbitControls,
        PerspectiveCamera,
    } from '@threlte/core';
    import { pathBBox } from 'raphael';
    import { onMount } from 'svelte';
    import * as THREE from 'three';
    import { SVGLoader } from 'three/examples/jsm/loaders/SVGLoader';

    import innerSvg from './assets/inner.svg?raw';
    import outerSvg from './assets/outer.svg?raw';
    import { colors, extrudeSettings } from './constants';

    let outerGeometry;
    let innerGeometry;

    let yOffset;
    let xOffset;

    // https://svelte.dev/tutorial/onmount
    // https://geoffrich.net/posts/svelte-lifecycle-examples/
    onMount(() => {
        // https://github.com/mrdoob/three.js/blob/r147/examples/jsm/loaders/SVGLoader.js
        // https://github.com/mrdoob/three.js/blob/r147/src/loaders/Loader.js
        // https://threejs.org/docs/#api/en/extras/core/ShapePath
        // https://threejs.org/docs/#examples/en/loaders/SVGLoader
        const [outerShape] = new SVGLoader()
            .parse(outerSvg)
            .paths[0].toShapes(false);

        // https://threejs.org/docs/#api/en/geometries/ExtrudeGeometry
        // https://threejs.org/docs/#api/en/core/BufferGeometry
        // https://stackoverflow.com/questions/56651720/why-does-the-three-js-svgloader-render-svgs-upside-down
        outerGeometry = new THREE.ExtrudeGeometry(outerShape, extrudeSettings);
        outerGeometry.center();

        const parsedInnerSvg = new SVGLoader().parse(innerSvg);

        const width = parseInt(parsedInnerSvg.xml.attributes.width.value, 10);
        const height = parseInt(parsedInnerSvg.xml.attributes.height.value, 10);
        const dValue = parsedInnerSvg.xml.children[0].attributes.d.value;
        const pathBox = pathBBox(dValue);

        // https://www.npmjs.com/package/raphael
        // https://github.com/DmitryBaranovskiy/raphael/blob/v2.3.0/raphael.js#L1695
        // https://stackoverflow.com/questions/14949259/getting-the-dimensions-of-an-svg-path-without-using-bounding-box
        // console.log({ width, height, pathBox });

        const centeredYDistance = (height - pathBox.height) / 2;
        yOffset = centeredYDistance - pathBox.y;
        // console.log({ centeredYDistance, yOffset });

        const centeredXDistance = (width - pathBox.width) / 2;
        xOffset = pathBox.x - centeredXDistance;
        // console.log({ centeredXDistance, xOffset });

        const [innerShape] = parsedInnerSvg.paths[0].toShapes(false);

        // console.log({ outerShape, innerShape });
        // console.log(
        //     new SVGLoader().parse(outerSvg).paths[0],
        //     new SVGLoader().parse(innerSvg).paths[0],
        // );
        // console.log(
        //     new SVGLoader().parse(outerSvg),
        //     new SVGLoader().parse(innerSvg),
        // );

        innerGeometry = new THREE.ExtrudeGeometry(innerShape, {
            ...extrudeSettings,
            depth: 4,
        });
        innerGeometry.center();
    });
</script>

<main>
    <!-- https://threlte.xyz/core/canvas -->
    <Canvas>
        <!-- https://threlte.xyz/core/perspective-camera -->
        <!-- Think of `z` as zooming in and zooming out. -->
        <PerspectiveCamera position={{ x: 0, y: 0, z: -200 }}>
            <!-- https://threlte.xyz/core/orbit-controls -->
            <OrbitControls autoRotate enableDamping />
            <!-- <OrbitControls /> -->
        </PerspectiveCamera>

        <!-- https://threlte.xyz/core/hemisphere-light -->
        <HemisphereLight
            skyColor={0x4c8eac}
            groundColor={0xac844c}
            intensity={1} />

        {#if outerGeometry}
            <!-- https://threlte.xyz/core/mesh -->
            <!-- https://github.com/ghostdevv/beyonk-3d/blob/main/src/App.svelte#L91 -->
            <!-- rotation={{ x: 0, y: 0, z: 0 }} -->
            <Mesh
                castShadow
                geometry={outerGeometry}
                position={{ x: 0, y: 0, z: 0 }}
                rotation={{ x: Math.PI, y: Math.PI, z: 0 }}
                material={new THREE.MeshStandardMaterial({
                    color: new THREE.Color(colors.outer),
                    side: THREE.DoubleSide,
                })} />
        {/if}

        {#if innerGeometry}
            <!-- position={{ x: 0, y: 0, z: 0 }} -->
            <!-- rotation={{ x: 0, y: 0, z: 0 }} -->
            <Mesh
                castShadow
                geometry={innerGeometry}
                position={{ x: xOffset, y: yOffset, z: 0 }}
                rotation={{ x: Math.PI, y: Math.PI, z: 0 }}
                material={new THREE.MeshStandardMaterial({
                    color: new THREE.Color(colors.inner),
                    side: THREE.DoubleSide,
                })} />
        {/if}
    </Canvas>
</main>

<style>
    main {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* https://joinmastodon.org/branding */
        background-color: #17063b;
        cursor: grab;
    }

    main:active {
        cursor: grabbing;
    }
</style>
